body {
        background-color: rgb(253, 251, 251);
}

#cabecalho {
        position: fixed;
        top: 0;
}

#titulo {
        color: goldenrod;
        line-height: 1.6;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
}
